form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 0% 100% 22% 78% / 100% 0% 100% 0% ;

  box-shadow: rgba(203, 248, 40, 0.4) 0px 5px, rgba(203, 248, 40, 0.3) 0px 10px,
    rgba(203, 248, 40, 0.2) 0px 15px, rgba(245, 188, 0, 0.1) 0px 20px,
    rgba(22, 27, 51, 0.05) 0px 25px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.ibb.co/0XSF0RD/guy-playing.png");
  margin-top: 5px;
  height: 494px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  padding-top: 120px;
  text-align: center;
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #262525;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 84%;
  margin-top: 120px;
  flex-direction: row;
  flex-flow: wrap;
  
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  transform: translate(5%, -3%);
  flex-direction: row;
  flex-flow: wrap;
}

nav ul .fab {
  flex: 1;
  text-align: center;
  list-style: none;
  margin: 10px 10px;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  
}

nav a {
  color: #fff;
  text-decoration: none;
}



nav img {
  max-width: 200px;
  margin-bottom: 0;
}

.fab {
  display: block;
  padding: 0 30px;
  text-decoration: none;
  color: rgb(244, 236, 236);
  position: relative;
  display: block;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 20px;
  color: rgb(212, 203, 203);
  transition: 0.5s;
}
.fab::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgb(203, 248, 40);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
.fab:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.fab:hover {
  color: whitesmoke;
  text-shadow: 0 0 12px yellowgreen;
}

h1 {
  margin: 0;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgb(203, 248, 40);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.div1 {
  float: left;
}

.top-bar::after {
  content: "";
  display: table;
  clear: both;
}

.dashed {
  color: rgba(154, 205, 50, 0.4);
}

.logo {
  width: 300px;
}


.loginBtn {
  background-color: white;
  color: black;
  border: 2px solid rgb(203, 248, 40);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 175px;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}


main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

article {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.play-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
main {
  margin-top: 100px;
}

.account-info {
  margin-top: 36px;

  display: flex;
  flex-direction: row;
  float: right;
}

.gap {
  margin-right: 30px;
}

input {
  width: 480px;
}

.shelf-heading {
  margin-top: 100px;
}

.mwhite {
  color: rgb(8, 7, 7);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: sans-serif;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 84%;
  margin-top: 120px;
  text-decoration: none;
}


.hamburger {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #333;
}

.nav-links {
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}
.page-grid {
  display: grid;
  grid-template-columns: 385px auto;
  padding-top: 45px;
  margin-left: 250px;
  margin-right: 250px;
}

.item1 {
  grid-area: image;
}
.item2 {
  grid-area: title;
}

.grid-container {
  display: grid;
  grid-template-areas: "image title title";
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 21px;
}

.container2 {
  padding: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.cart-img {
  width: auto;
  height: 75px;
}

.title {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

form {
  max-width: 500px;
  margin: auto;
}

label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}


button {
  background-color: #333;

  color: rgb(156, 240, 10);


.home{
  display:flex;
  background-color: white;
  color: black;
  border: 2px solid rgb(203, 248, 40);
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin: 4px 15px;
  cursor: pointer;
  width: 475px;
}


button:hover {
  background-color: #333;
  color: white;
}

.search-title {
  margin-top: 50px;

.home:hover {
  background-color:  #333;
  color: white;
}

.addtocartBtn{
  display:flex;
  background-color: white;
  color: black;
  border: 2px solid rgb(203, 248, 40);
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin: 4px 25px;
  cursor: pointer;
  width: 100%;
}

.addtocartBtn:hover {
  background-color:  #333;
  color: white;
}


.search-title{
  margin-top: 50px
}

.games-shelf {
  align-items: center;
}

.game-grid {
  margin-top: 34px;
  display: grid;
  flex-wrap: wrap;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.game-card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 36px 5px 36px 5px;
  padding: 20px;
  text-align: center;
  width: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.game-card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.game-card img {
  object-fit: cover;
}

.cardBtn {
  background-color: white;
  color: black;
  border: 2px solid rgb(203, 248, 40);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
}

.cardBtn:hover {
  background-color: #333;
  color: white;
}

.single-game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.game-image-container {
  width: 50%;
  margin-right: 50px;
}

.game-image-container img {
  width: 100%;
  height: auto;
}

.game-details-container {
  width: 50%;
}

.game-details-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.game-details-container p {
  font-size: 18px;
  margin-bottom: 10px;
}

.game-details-container button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.game-details-container button:hover {
  background-color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.footer-links ul {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-links ul li a:hover {
  color: rgb(203, 248, 40);;
}


.footer-links ul li a:hover {
  color: #007bff;
}


.footer-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social ul li {
  margin: 0 10px;
}

.footer-social ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 20px;
}

.footer-social ul li a:hover {
  color: rgb(203, 248, 40);
}

.footer-bottom {
  background-color: #222;
  padding: 5px 0;
  text-align: center;
  font-size: 14px;
}

.fab {
  color: whitesmoke;
}



.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px auto;
  max-width: 1200px;
}

.left-column {
  flex-basis: 60%;
  margin-right: 50px;
}

.right-column {
  flex-basis: 35%;
}

h2 {
  margin-top: 0;
}

.order-summary {
  border: 1px solid #ccc;
  padding: 20px;
}

.delivery-form {
  border: 1px solid #ccc;
  padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.sale-icon {
  width: 100px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 768px) {
  .game-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .logo {
    width: auto;
  }

  .game-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  nav {
    margin-top: 320px;
    text-decoration: none;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 0.5s ease-in-out;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  
}

