

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;

  box-shadow: rgba(154, 205, 50, 0.4) 0px 5px, 
  rgba(154, 205, 50, 0.3) 0px 10px,
   rgba(154, 205, 50, 0.2) 0px 15px, 
   rgba(245, 188, 0, 0.1) 0px 20px, 
   rgba(22, 27, 51, 0.05) 0px 25px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
}

nav ul li {
  flex: 1;
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  color: rgb(244, 236, 236);
}

h1 {
  margin: 0;
}

.top-bar {
display: flex;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 100;
background-color: yellowgreen;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


 .dashed {
  color:rgba(154, 205, 50, 0.4);
 }

.logo {
  width: 300px;
  
}
nav li {
  display: inline-block;
  margin-right: 20px;
  
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

article {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.play-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
main {
  margin-top: 100px;
}

.account-info {
  margin-top: 36px;
}

input {
  width: 480px;

}



.mwhite  { 
color: rgb(8, 7, 7);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
  margin-top: 120px;
}

nav img {
  max-width: 200px;
  margin-bottom: 0;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #333;
}

.nav-links {
  display: flex;
  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}
.page-grid {
display: grid;
grid-template-columns: 385px auto;
padding-top: 45px;
margin-left: 250px;
margin-right: 250px;
}

.item1 { grid-area: image; }
.item2 { grid-area: title ; }

.grid-container {
  display: grid;
  grid-template-areas: "image title title"
}


.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 21px;
}

.container2 {
  padding: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;

}

.cart-img {
  width: auto;
  height: 75px;
}



form {
  max-width: 500px;
  margin: auto;
}

label, input, textarea {
  display: block;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 500px;
}

.loginBtn {
  background-color: white;
  width: 220px;
  border: 2px solid #4CAF50;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}

.game-grid {
  margin-top: 34px;
  display: grid;
  flex-wrap: wrap;
 
 grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;

  

}

.game-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 36px 5px 36px 5px;
  padding: 20px;
  text-align: center;
  width: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.game-card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.game-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media(max-width: 768px) {
  .game-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}




@media (max-width: 600px) {
  .logo {
    width: auto;
  }

  .game-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  nav {
    margin-top: 220px;
   
    
    

  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 0.5s ease-in-out;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
